:root {
  /** 主题颜色 */

  /*
  --vp-c-brand-1: #65d3af;
  --vp-c-brand-2: #6aa1b7;
  --vp-c-brand-3: #8cccd5;
  --vp-c-brand-soft: rgba(131, 208, 218, 0.314);
  */


  /** 背景颜色 */

  /*
  --vp-c-bg: #fff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #fff;
  --vp-c-bg-soft: #f6f6f7;
  */

  /** 文本颜色 */

  /*
  --vp-c-text-1: rgba(60, 60, 67);
  --vp-c-text-2: rgba(60, 60, 67, 0.78);
  --vp-c-text-3: rgba(60, 60, 67, 0.56);
  */
}

/** 浅色模式 */
[data-theme="light"] {

  --vp-c-brand-1: #41b291;
  --vp-c-brand-2: #6aa1b7;
  --vp-c-brand-3: #8cccd5;
  --vp-c-brand-soft: rgba(131, 208, 218, 0.314);


  --vp-c-bg-alt: url('https://raw.githubusercontent.com/Pai3141/PictureBed/main/img/paper-plane.jpg'); /* Replace with your image URL */
  background-image: var(--vp-c-bg-alt);

  .mini-search-button {
    background: #f5faf6 url('https://') no-repeat center center; /* Set color and image */
    background-size: cover; /* Ensure the image covers the background */
  }
  /*
  --vp-c-bg: #1b1b1f;
  --vp-c-bg-alt: #161618;
  --vp-c-bg-elv: #202127;
  --vp-c-bg-soft: #202127;


  /*
  --vp-c-text-1: rgba(255, 255, 245, 0.86);
  --vp-c-text-2: rgba(235, 235, 245, 0.6);
  --vp-c-text-3: rgba(235, 235, 245, 0.38);
  */
}

/** 深色模式 */
[data-theme="dark"] {
  --vp-c-bg-alt: url('https://raw.githubusercontent.com/Pai3141/PictureBed/main/img/sky-star.png'); /* Replace with your image URL */
  background-image: var(--vp-c-bg-alt);
  /*
  --vp-c-brand-1: #8cccd5;
  --vp-c-brand-2: #6aa1b7;
  --vp-c-brand-3: #5086a1;
  --vp-c-brand-soft: rgba(131, 208, 218, 0.314);
  */

  /*
  --vp-c-bg: #1b1b1f;
  --vp-c-bg-alt: #161618;
  --vp-c-bg-elv: #202127;
  --vp-c-bg-soft: #202127;
  */

  /*
  --vp-c-text-1: rgba(255, 255, 245, 0.86);
  --vp-c-text-2: rgba(235, 235, 245, 0.6);
  --vp-c-text-3: rgba(235, 235, 245, 0.38);
  */
}
